.a {
	color: #9a9da0;
  text-decoration: none;
  background-color: transparent;
}

.a:hover {
	color: #cccecf;
  text-decoration: underline;
}

.b {
	color: #80b7ff;
	text-decoration: none;
	background-color: transparent;
}

.b:hover {
	color: #bfd4ff;
	text-decoration: none;
	background-color: transparent;
}

.chapter {
	background-color: #4c4c4d;
}

.darkmode {
	background-color: #303030;
}

.chapteradmin {
	background-color: #DBE1F1;
}

.commentadmin {
	background-color: #96ADFC;
}

.greymode {
	background-color: #f0f0f0;
}

.comment {
	background-color: #2c2c2c;
}

.newsletteradmin {
	background-color: #6fd0d6;
}

.newsletterfront {
	background-color: #30536d
}

.contactfront {
	background-color: #30536d
}

.contactadmin {
	background-color: #6fd0d6;
}

.contactadmin2 {
	background-color: #adccce;
}

.aboutfront {
	background-color: #347285;
}

.a2 {
	color: #ffffff;
  text-decoration: none;
  font-style: italic;
  background-color: transparent;
}

.a2:hover {
	color: #c8c8c8;
  text-decoration: underline;
}

.hrstyle {
	border: 1px solid white;
}

.hrcolor {
	color: #ffffff;
	 background-color: #ffffff;
}